@import "tailwindcss";
@plugin "../tailwind-plugins/responsive-variants.ts";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  /* Parallax down animation */
  --animate-parallax-down: parallax-down linear forwards;

  @keyframes parallax-down {
    from {
      object-position: 0% 100%;
    }
    to {
      object-position: 0% 0%;
    }
  }

  /* Grow width animation */
  --animate-grow-width: grow-width linear forwards;

  @keyframes grow-width {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  /* Reveal animation */
  --animate-reveal: reveal linear forwards;

  @keyframes reveal {
    from {
      opacity: 0;
      clip-path: inset(45% 20% 45% 20%);
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
